.profile_list {
    display: -webkit-box;
    margin: 25px 0;
}

.showing_cars {
    margin: 20px 0 0;
}

.car_d {
    position: relative;
    top: 6px;
}

.car_s {
    position: relative;
    top: 17px;
    right: 5px;
}